<div class="menu border border-secondary-subtle {{{display}}}">
  <ul>
    <li class="menu-item {{{d1}}}">
      <a href="/dashboard">
        <img src="/images/dashboard.png" alt="" class="menu-icon" />
        <p>Dashboard</p>
      </a>
    </li>

    <li class="menu-item {{{d2}}}">
      <a href="/project/list">
        <img src="/images/project-list.png" alt="" class="menu-icon" />
        <p>Project List</p>
      </a>
    </li>

    <li class="menu-item {{{d3}}}">
      <a href="/administration">
        <img src="/images/administration.png" alt="" class="menu-icon" />
        <p>Administration</p>
      </a>
    </li>

    <li class="menu-item  d-none">
      <a href="/">
        <img src="/images/managerial-reports.png" alt="" class="menu-icon" />
        <p>Managerial Reports</p>
      </a>
    </li>

    <li class="menu-item  d-none">
      <a href="/">
        <img src="/images/help.png" alt="" class="menu-icon" />
        <p>Help</p>
      </a>
    </li>

    <li class="menu-item  d-none">
      <a href="/">
        <img src="/images/tutorials.png" alt="" class="menu-icon" />
        <p>Tutorials</p>
      </a>
    </li>

    <li class="menu-item  d-none">
      <a href="/">
        <i class="bi bi-gear" class="menu-icon" style="color: red"></i>
        <p>Setting</p>
      </a>
    </li>
    <li class="menu-item">
      <div class="" style="height: 100px;"></div>
    </li>
  </ul>
</div>