<div class="container register-cart shadow p-3 mb-5 bg-body rounded p-5 w-50">
            <form action="/register" method="post" class="needs-validation" novalidate>
                <div class="header mb-3">
                    <h3>Start Your Free Plan</h3>
                    <div class="d-flex">
                        <div>
                            <i class="bi bi-check-circle-fill text-success"></i>
                            <span>100% Free Forever</span>
                        </div>
                        <div class="ms-3">
                            <i class="bi bi-check-circle-fill text-success"></i>
                            <span>No Credit Card Required</span>
                        </div>
                    </div>
                </div>
                <div class="body mb-3">
                    {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                    {{/if}}
                    {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                    {{/if}}
                    <div class="row mb-3">
                        <div class="col">
                            <label for="fFirstName" class="form-label"
                            >First Name <span class="text-danger">*</span></label
                            >
                            <input
                            class="form-control"
                            id="fFirstName"
                            name="first-name"
                            type="text"
                            placeholder="First Name"
                            aria-label="default input example"
                            required
                            />
                            <div class="invalid-feedback">Please enter First Name.</div>
                        </div>
                        <div class="col">
                            <label for="fLastName" class="form-label"
                            >Last Name <span class="text-danger">*</span></label
                            >
                            <input
                            class="form-control"
                            id="fLastName"
                            name="last-name"
                            type="text"
                            placeholder="Last Name"
                            aria-label="default input example"
                            required
                            />
                            <div class="invalid-feedback">Please enter Last Name.</div>
                        </div>
                    </div>

                    
                    <div class="mb-3">
                        <label for="fEmail" class="form-label"
                        >Work Email Address <span class="text-danger">*</span></label
                        >
                        <input
                        type="email"
                        class="form-control"
                        id="fEmail"
                        name="email"
                        placeholder="Work Email Address"
                        required
                        />
                        <div class="invalid-feedback">Please enter Work Email Address.</div>
                    </div>

                    <div class="mb-3">
                        <label for="fPassword" class="form-label"
                        >Password <span class="text-danger">*</span></label
                        >
                        <input
                        type="password"
                        class="form-control"
                        id="fPassword"
                        name="password"
                        placeholder="Password"
                        required
                        />
                        <div class="invalid-feedback">Please enter Password.</div>
                    </div>

                    <div class="mb-3">
                        <label for="fDomain" class="form-label"
                        >Domain <span class="text-danger">*</span></label
                        >
                        <input
                        type="text"
                        class="form-control"
                        id="fDomain"
                        name="domain"
                        placeholder="Domain"
                        required
                        />
                        <div class="invalid-feedback">Please enter Domain.</div>
                    </div>
                </div>
                <div class="footer text-center">
                    <button type="submit" class="btn btn-danger w-100 mb-2">Create free account</button>
                    <p class="mb-0">By creating an account, you agree to <strong>ShareBug</strong></p>
                    <p><a href="#" class="fs-5 text-decoration-underline">Terms of Use</a> and <a href="#" class="fs-5 text-decoration-underline">Privacy Policy</a></p>
                </div>
            </form>
        </div>