.menu-2 {
    margin: 1rem 2rem;
}

.menu-2 li a{
    color: black;
}

a {
    color: black;
}

.issue-bulk-action-cart {
    flex: 1 1 auto; 
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 30vw;
    height: 100vh;
}
