/* * {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
} */
.container-fluid {
    overflow-x: auto; /* Tạo thanh cuộn ngang nếu nội dung tràn */
}

.nav-underline {
    display: flex;
    flex-wrap: nowrap; /* Không cho các phần tử tràn xuống hàng mới */
    overflow-x: auto; /* Tạo thanh cuộn ngang nếu nội dung tràn */
}
/* .navbar-menu {
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1000;
  } */
  

.overflow-container {
    position: relative;
    overflow-x: auto;
}

.next-btn, .prev-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 100%;
}

.prev-btn {
    left: 10px; /* Điều chỉnh vị trí */
}

.next-btn {
    right: 10px; /* Điều chỉnh vị trí */
}

.left-side{
    display: inline-flex;
    align-items: center;
}
#requirement-h{
    font-size: 1rem;
    max-width: 170px;
}
.count-box {
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 26%);
    margin: 3px;
}
.count-box {
    background: #d21919a9;
    width: auto;
    height: auto;
    border-radius: 4px;
    color: white;
    padding: 4px 10px;
    display: inline-flex;
    line-height: 16px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
}

.right-side{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.right-side a{
    text-decoration: none;
}
.mr-3{
    margin-right: 1rem;
}

.right-side .abutton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #162b43;
    font-size: 1rem !important;
}

.right-side .abutton img{
    margin-right: 5px;
}

.requirement-header{
    border-bottom: 1px solid #f2f8ff;
}

.module-section{
    background: #f9f9f9;
    border-radius: 6px;
    height: 90% !important;
}

.module-header{
    padding: 15px 20px;
    border-bottom: 1px solid #eaeaeb;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.no-record{
    padding: 10px;
    line-height: 1.5;
    color: #162b43;
    background-color: #edf1f4;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    font-size: .75rem;
    text-align: center;

    width: 80%;
    margin: 42px auto auto;
}

.example-description{
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.requirement-list-section{
    margin-left: 15px;
    background: #f9f9f9;
    border-radius: 6px;
    height: 90%;
    display: inline-flex;
    padding: 20px;
    width: 100%;
}

.requirement-list-section div{
    text-align: center;
    width: 100%;
}

.upload-file.dragover {
    border-color: #28a745 !important;
}