.menu-2 {
    margin: 1rem 2rem;
}

.menu-2 li a {
    color: black;
}

a {
    color: black;
}

.status-num {
    font-size: large;
}

.status {
    color: gray;
}

.search-module input[type=text] {
    /*background-image: url('../assets/images/magnifying-glass-solid.svg');*/
    background-position: right 10px top 7px;
    background-repeat: no-repeat;
    padding-right: 20px;
    background-size: 20px 20px;
}

.bulk-action-cart {
    flex: 1 1 auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 30vw;
    height: 100vh;
}